<html>
  <head>
    <title>Signup</title>
  </head>
  <body>
    <% if (message) { %>
    <h4><%= message %></h4>
    <% } %>
    <form action="/signup" method="POST">
      <input name="id" type="text" required="required" placeholder="User ID" />
      <input
        name="password"
        type="password"
        required="required"
        placeholder="Password"
      />
      <input type="submit" value="Sign me up!" />
    </form>
    <button type="Submit">Sign me up Button!</button>
  </body>
</html>
